.home {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-gigantic);
    gap: var(--spacing-gigantic);

    .hero {
        .screenshot {
            position: relative;
            width: 20rem;
            height: 40rem;

            .image {
                object-position: center right;
                object-fit: contain;
            }
        }
    }

    .mobilize {
        .content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--spacing-mega-large);

            .pictures {
                display: flex;
                align-items: center;
                flex-basis: calc(50% - var(--spacing-mega-large) / 2);
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: var(--spacing-medium);

                .imageContainer {
                    position: relative;

                    .image {
                        object-position: center right;
                        object-fit: cover;
                        border-radius: var(--border-radius-medium);
                    }
                }

                .single {
                    width: 12rem;
                    height: 16rem;
                }

                .double {
                    width: 12rem;
                    height: 12rem;

                    .image {
                        object-position: center center;
                        object-fit: cover;
                        border-radius: var(--border-radius-medium);
                    }
                }

                .images {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-medium);
                }
            }

            .descriptionContainer {
                display: flex;
                flex-basis: calc(50% - var(--spacing-mega-large) / 2);
                flex-direction: column;
                gap: var(--spacing-medium);

                .description {
                    font-size: var(--font-size-large);
                }

                .infoBoxContainer {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--spacing-medium);
                }
            }

            @media screen and (max-width: 720px) {
                flex-direction: column;

                .pictures {
                    justify-content: center;
                }

                .descriptionContainer {
                    .infoBoxContainer {
                        justify-content: center;
                    }
                }
            }
        }
    }

    .missionTypes {
        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--spacing-large);

            .missionType {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                border: var(--width-separator-thin) solid var(--color-separator);
                border-radius: 0.5rem;
                padding: var(--spacing-large);
                max-width: 20rem;
                gap: var(--spacing-medium);

                &:hover {
                    box-shadow: var(--box-shadow-medium);
                }

                .icon {
                    color: var(--color-accent);
                    font-size: var(--font-size-mega-large);
                }

                .missionTypeDescription {
                    text-align: center;
                    font-size: var(--font-size-large);
                }
            }
        }
    }

    .startMapswiping {
        .content {
            display: flex;
            gap: var(--spacing-large);

            .description {
                font-size: var(--font-size-extra-large);
            }

            .download {
                display: flex;
                flex-basis: calc(50% - var(--spacing-mega-large) / 2);
                flex-direction: column;
                justify-content: center;
                border-radius: var(--border-radius-small);
                background-color: var(--color-background-brand-light);
                padding: var(--spacing-extra-large);
                gap: var(--spacing-extra-large);
                text-align: center;

                .linksContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: var(--spacing-small);

                    .buttonsContainer {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: var(--spacing-large);

                        .buttonImageContainer {
                            position: relative;
                            width: 12rem;
                            height: 4rem;

                            .image {
                                object-position: center center;
                                object-fit: contain;
                                border-radius: var(--border-radius-medium);
                            }
                        }
                    }

                    .downloadLink {
                        text-decoration: underline;
                    }
                }
            }

            .getInvolved {
                display: flex;
                align-items: center;
                flex-basis: calc(50% - var(--spacing-mega-large) / 2);
                flex-direction: column;
                border-radius: var(--border-radius-small);
                background-color: var(--color-background-accent-light);
                padding: var(--spacing-extra-large);
                gap: var(--spacing-extra-large);
                text-align: center;
            }

            @media screen and (max-width: 720px) {
                flex-direction: column;
            }
        }
    }

    .partners {
        display: flex;
        flex-direction: column;

        .content {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: var(--spacing-large);

            .missingMapsLogo {
                width: 12rem;
                height: 4rem;
            }

            .description {
                max-width: var(--width-heading-max);
                font-size: var(--font-size-large);
            }

            .partnerLogos {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--spacing-large);

                .partnerLogo {
                    width: 8rem;
                    height: 4rem;
                }
            }
        }
    }
}
