.home {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-gigantic);
    gap: var(--spacing-gigantic);

    .hero {
        .screenshot {
            width: 30rem;
            height: 28rem;

            @media screen and (max-width: 840px) {
                width: 24rem;
                height: 24rem;
            }

            @media screen and (max-width: 720px) {
                width: 80vw;
                height: 20rem;
            }
        }
    }

    .mobilize {
        .content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--spacing-super-large);

            .pictures {
                display: flex;
                align-items: center;
                flex-basis: 32rem;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: var(--spacing-medium);

                .imageContainer {
                    position: relative;

                    .image {
                        object-position: center right;
                        object-fit: cover;
                        border-radius: var(--border-radius-medium);
                    }
                }

                .single {
                    width: 14rem;
                    height: 18rem;
                }

                .double {
                    width: 14rem;
                    height: 14rem;

                    .image {
                        object-position: center center;
                        object-fit: cover;
                        border-radius: var(--border-radius-medium);
                    }
                }

                .images {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-medium);
                }
            }

            .descriptionContainer {
                display: flex;
                flex-basis: calc(100% - 32rem - var(--spacing-super-large));
                flex-direction: column;
                gap: var(--spacing-medium);

                .description {
                    max-width: 100%;
                    font-size: var(--font-size-medium);
                }

                .infoBoxContainer {
                    display: grid;
                    grid-gap: var(--spacing-medium);
                    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
                }
            }

            @media screen and (max-width: 840px) {
                flex-direction: column;

                .pictures {
                    justify-content: center;
                }

                .descriptionContainer {
                    flex-basis: 100%;

                    .infoBoxContainer {
                        justify-content: center;
                    }
                }
            }
        }
    }

    .missionTypes {
        .content {
            display: grid;
            grid-gap: var(--spacing-extra-large);
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

            @media screen and (max-width: 20rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }

            .missionType {
                font-size: var(--font-size-medium);

                .missionImage {
                    height: 20rem;
                }

                .beforeAfterContainer {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-small);

                    .beforeAfterImageWrapper {
                        height: calc(50% - var(--spacing-small) / 2);

                        .beforeImage {
                            border-top-left-radius: var(--border-radius-medium);
                            border-top-right-radius: var(--border-radius-medium);
                            object-position: top center;
                            object-fit: cover;
                        }

                        .afterImage {
                            object-position: top center;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    .startMapswiping {
        .content {
            display: flex;
            gap: var(--spacing-mega-large);

            .startMapswipingDescription {
                font-size: var(--font-size-large);
            }

            .download {
                display: flex;
                flex-basis: calc(50% - var(--spacing-mega-large) / 2);
                flex-direction: column;
                justify-content: center;
                border-radius: var(--border-radius-medium);
                background-color: var(--color-background-brand-light);
                padding: var(--spacing-extra-large) var(--spacing-gigantic);
                gap: var(--spacing-extra-large);
                text-align: center;

                .linksContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: var(--spacing-small);

                    .buttonsContainer {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: var(--spacing-large);

                        .buttonImageContainer {
                            position: relative;
                            width: 12rem;
                            height: 4rem;

                            .image {
                                object-position: center center;
                                object-fit: contain;
                                border-radius: var(--border-radius-medium);
                            }
                        }
                    }

                    .downloadLinksContainer {
                        display: flex;
                        justify-content: center;
                        gap: var(--spacing-medium);

                        .downloadLink {
                            color: var(--color-link);
                        }
                    }
                }
            }

            .getInvolved {
                display: flex;
                align-items: center;
                flex-basis: calc(50% - var(--spacing-mega-large) / 2);
                flex-direction: column;
                border-radius: var(--border-radius-medium);
                background-color: var(--color-background-accent-light);
                padding: var(--spacing-extra-large) var(--spacing-gigantic);
                gap: var(--spacing-extra-large);
                text-align: center;
            }

            @media screen and (max-width: 720px) {
                flex-direction: column;
            }
        }
    }

    .recentNewsAndUpdates {
        .content {
            display: grid;
            grid-gap: var(--spacing-extra-large);
            grid-template-columns: minmax(20rem, 2fr) minmax(20rem, 3fr);

            .blogItem {
                .tag {
                    padding: var(--spacing-ultra-small) 0;
                }

                .cardContent {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-small);

                    .blogDescription {
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    .link {
                        color: var(--color-accent);
                        font-size: var(--font-size-medium);
                        font-weight: var(--font-weight-bold);
                    }
                }
            }

            .firstGrid {
                grid-row: auto / span 2;
            }

            .sectionDescription {
                grid-column: 1 / -1;

                .seeMoreLink {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    color: var(--color-accent);
                    font-size: var(--font-size-medium);
                    font-weight: var(--font-weight-bold);
                    gap: var(--spacing-super-small);
                }
            }

            @media screen and (max-width: 800px) {
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

                .firstGrid {
                    grid-row: unset;
                }
            }

            @media screen and (max-width: 24rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }
        }
    }

    .partners {
        display: flex;
        flex-direction: column;

        .content {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: var(--spacing-super-large);

            .missingMapsLogo {
                width: 12rem;
                height: 4rem;
            }

            .partnersDescription {
                max-width: var(--width-heading-max);
                text-align: center;
                font-size: var(--font-size-medium);
            }

            .partnerLogos {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--spacing-mega-large);

                .partnerLogo {
                    width: 10rem;
                    height: 5rem;
                }
            }
        }
    }

    @media screen and (max-width: 720px) {
        gap: unset;
    }
}
