.blog {
    display: block;

    .illustration {
        width: 30rem;
        height: 20rem;

        @media screen and (max-width: 840px) {
            width: 24rem;
        }

        @media screen and (max-width: 720px) {
            width: 80vw;
        }
    }

    .hero {
        .heroMainContent {
            .heroLeftContent {
                padding-top: 0;
            }
        }

        .heroDescription {
            display: flex;
            gap: var(--spacing-gigantic);

            .heroTag {
                padding: 0;
                color: var(--color-text-on-dark-light);
                font-size: var(--font-size-medium);
            }
        }
    }
}
