.keyFigure {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-extra-small);
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: 0.5rem;
    padding: var(--spacing-extra-large);

    .label {
        font-size: var(--font-size-large);
    }

    .value {
        font-size: var(--font-size-extra-large);
        font-weight: var(--font-weight-bold);
    }

    .description {
        font-size: var(--font-size-large);
    }

    &.circle {
        --size: 8rem;
        --border-size: 4rem;
        position: relative;
        border: none;
        border-radius: var(--border-size);
        width: var(--size);
        height: var(--size);
        box-shadow: 0 0 0 2rem var(--color-accent-light);
        background-color: var(--color-accent-light);
        text-align: center;

        &.complement {
            background-color: var(--color-complement);
        }
    }
}
