.data {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gigantic);
    background-color: var(--color-foreground);

    .active {
        color: var(--color-active);
    }

    .finished {
        color: var(--color-finished);
    }

    .illustration {
        width: 30rem;
        height: 32rem;

        @media screen and (max-width: 840px) {
            width: 24rem;
            height: 28rem;
        }

        @media screen and (max-width: 720px) {
            width: 80vw;
            height: 20rem;
        }
    }

    .statsHeader {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--spacing-enourmous);

        .leftContent {
            display: flex;
            align-self: center;
            flex-direction: column;
            justify-content: center;
            padding: var(--spacing-mega-large);
            width: 20rem;

            .figure {
                align-self: flex-end;
            }

            .largeFigure {
                --size: 10rem;
                --border-size: 5rem;
                align-self: flex-start;
            }
        }

        .rightContent {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            gap: var(--spacing-medium);

            .heading {
                align-self: center;
                max-width: var(--width-heading-max);
                text-align: center;
            }
            .sectionDescription {
                display: flex;
                align-self: center;
                flex-direction: column;
                gap: var(--spacing-small);
                max-width: 30rem;
                text-align: center;
                font-size: var(--font-size-medium);
            }
        }
    }

    .typeSection {
        .typeList {
            display: grid;
            grid-gap: var(--spacing-extra-large);
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

            @media screen and (max-width: 24rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }

            .keyPointList {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-super-small);
            }
        }
    }

    .exploreSection {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-super-large);

            .topContainer {
                display: flex;
                flex-wrap: wrap;
                gap: var(--spacing-large);

                .filters {
                    display: flex;
                    flex-basis: 24rem;
                    flex-direction: column;
                    border: var(--width-separator-thin) solid var(--color-border-light);
                    border-radius: var(--border-radius-small);
                    padding: var(--spacing-medium);
                    gap: var(--spacing-large);

                    .filter {
                        border: var(--width-separator-thin) solid var(--color-border-light);
                        border-radius: var(--border-radius-small);
                        padding: var(--spacing-super-small) var(--spacing-medium);
                    }

                    .row {
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--spacing-large);
                    }

                    .inputContainer {
                        display: flex;
                        flex-direction: column;
                        gap: var(--spacing-super-small);

                        .filter {
                            max-width: 10rem;
                        }
                    }

                    .clearButton {
                        display: flex;
                        align-items: center;
                        align-self: flex-end;
                        padding: var(--spacing-tiny) var(--spacing-extra-small);
                        font-size: var(--font-size-small);
                        gap: var(--spacing-ultra-small);
                    }
                }

                .mapContainer {
                    position: relative;
                    flex-grow: 1;
                    border-radius: var(--border-radius-medium);
                    background-color: var(--color-background-leaflet);
                    height: 32rem;

                    .projectsMap {
                        border: var(--width-separator-thin) solid var(--color-separator);
                        border-radius: var(--border-radius-medium);
                        background-color: var(--color-background-leaflet);
                        width: 100%;
                        height: 100%;
                    }

                    .mapSettings {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 100000;
                        background-color: rgba(0, 0, 0, 0.2);
                        padding: var(--spacing-extra-small) var(--spacing-medium);

                        .bubbleFilter {
                            align-items: center;
                            flex-direction: row;
                        }
                    }
                }

                @media screen and (max-width: 920px) {
                    flex-direction: column;
                }
            }

            .stats {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: var(--spacing-large);
                font-size: var(--font-size-large);

                .circle {
                    font-size: var(--font-size-extra-small);
                }

                @media screen and (max-width: 720px) {
                    align-items: flex-start;
                    flex-direction: column;

                    .circle {
                        display: none;
                    }
                }
            }

            .projectList {
                display: grid;
                grid-gap: var(--spacing-extra-large);
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

                @media screen and (max-width: 24rem) {
                    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
                }

                .cardLink {
                    &:hover {
                        text-decoration: unset;
                    }
                }

                .project {
                    height: 100%;

                    &:hover {
                        box-shadow: var(--box-shadow-medium);
                    }
                }

                .row {
                    display: flex;
                    align-items: center;
                    gap: var(--spacing-extra-small);
                }
                .progressBar {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-super-small);

                    .progressLabel {
                        align-self: flex-start;
                    }
                    .track {
                        border-radius: 0.25rem;
                        background-color: var(--color-separator);
                        height: 0.5rem;

                        .progress {
                            border-radius: 0.25rem;
                            background-color: var(--color-background-bar);
                            height: 100%;
                        }
                    }
                }

                .projectStats {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-medium);

                    .tag {
                        padding: 0;
                    }

                    .bottomTags {
                        display: flex;
                        flex-direction: column;
                        gap: var(--spacing-super-small);
                    }
                }
            }
        }
    }

    .downloadSection {
        .urlList {
            display: grid;
            grid-gap: var(--spacing-extra-large);
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

            @media screen and (max-width: 24rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }

            .downloadCard {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                gap: var(--spacing-large);

                .fileDetails {
                    display: flex;
                    align-items: center;
                    gap: var(--spacing-extra-small);
                }

                .link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: var(--font-size-medium);
                    gap: var(--spacing-extra-small);
                }

                @media screen and (max-width: 720px) {
                    flex-direction: column;
                }
            }
        }
    }
}
