.data {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gigantic);
    background-color: var(--color-foreground);
    padding-bottom: var(--spacing-mega-large);

    .illustration {
        position: relative;
        width: 30rem;
        height: 40rem;

        @media screen and (max-width: 840px) {
            width: 24rem;
        }

        @media screen and (max-width: 720px) {
            width: 80vw;
        }
    }

    .statsHeader {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--spacing-enourmous);

        .leftContent {
            display: flex;
            justify-content: center;
            flex-basis: 20rem;
            transform: rotate(45deg);
            padding: 0 var(--spacing-large);
            gap: var(--spacing-medium);

            .figure {
                transform: rotate(-45deg);
            }

            .largeFigure {
                --size: 10rem;
                --border-size: 5rem;
            }
        }

        .rightContent {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;

            .heading {
                align-self: center;
                max-width: var(--width-heading-max);
                text-align: center;
            }
            .sectionDescription {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-small);
                align-self: center;
                max-width: 30rem;
                text-align: center;
                font-size: var(--font-size-large);
            }
        }
    }

    .typeSection {
        .typeList {
            display: grid;
            grid-gap: var(--spacing-extra-large);
            grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

            .keyPointList {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-super-small);
            }
        }
    }

    .exploreSection {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-super-large);

            .topContainer {
                display: flex;
                gap: var(--spacing-large);

                .filters {
                    display: flex;
                    flex-basis: 24rem;
                    flex-direction: column;
                    border: var(--width-separator-thin) solid var(--color-border-light);
                    border-radius: var(--border-radius-small);
                    padding: var(--spacing-medium);
                    gap: var(--spacing-large);

                    .active {
                        color: var(--color-active);
                    }

                    .finished {
                        color: var(--color-finished);
                    }

                    .filter {
                        border: var(--width-separator-thin) solid var(--color-border-light);
                        border-radius: var(--border-radius-small);
                        padding: var(--spacing-super-small) var(--spacing-medium);
                    }
                }

                .mapContainer {
                    flex-grow: 1;
                    background-color: var(--color-background-leaflet);
                    height: 32rem;

                    .projectsMap {
                        background-color: var(--color-background-leaflet);
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .stats {
                display: flex;
                gap: var(--spacing-large);
                font-size: var(--font-size-extra-large);
            }


            .projectList {
                display: grid;
                grid-gap: var(--spacing-extra-large);
                grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));

                .progressBar {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-super-small);

                    .progressLabel {
                        align-self: flex-start;
                    }
                    .track {
                        border-radius: 0.25rem;
                        background-color: var(--color-separator);
                        height: 0.5rem;

                        .progress {
                            border-radius: 0.25rem;
                            background-color: var(--color-accent);
                            height: 100%;
                        }
                    }
                }

                .projectStats {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
                    grid-gap: var(--spacing-extra-small);
                }
            }
        }
    }

    .downloadSection {
        .urlList {
            display: grid;
            grid-gap: var(--spacing-extra-large);
            grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));

            .downloadIcon {
                color: var(--color-accent);
                font-size: var(--font-size-super-large);
            }
        }
    }
}
