.getInvolved {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-gigantic);
    gap: var(--spacing-gigantic);

    .hero {
        .screenshot {
            position: relative;
            width: 20rem;
            height: 40rem;

            .image {
                object-position: center right;
                object-fit: contain;
            }
        }
    }

}
