.getInvolved {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-gigantic);
    gap: var(--spacing-gigantic);

    .hero {
        .illustration {
            width: 30rem;
            height: 24rem;

            @media screen and (max-width: 840px) {
                width: 24rem;
                height: 20rem;
            }

            @media screen and (max-width: 720px) {
                width: 80vw;
                height: 16rem;
            }
        }
    }

    .imageContainer {
        display: flex;
        align-items: center;
        flex-basis: 30rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: var(--spacing-extra-large);

        .illustration {
            width: 24rem;
            height: 28rem;

            @media screen and (max-width: 840px) {
                width: 20rem;
                height: 24rem;
            }

            @media screen and (max-width: 720px) {
                width: 80vw;
                height: 20rem;
            }
        }
    }

    .card {
        flex-grow: 1;
        background-color: #fff;
        padding: var(--spacing-gigantic);
    }

    .contributeContainer {
        gap: var(--spacing-small);
        border-radius: var(--border-radius-large);
        background-color: var(--color-background-brand-light);
        max-width: calc(var(--width-page-max) - 2 * var(--spacing-super-large));

        .contributeSection {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: var(--spacing-small);

            .buttonsContainer {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--spacing-large);

                .buttonImageContainer {
                    position: relative;
                    width: 10rem;
                    height: 4rem;

                    .image {
                        object-position: center center;
                        object-fit: contain;
                        border-radius: var(--border-radius-medium);
                    }
                }
            }

            .downloadLink {
                color: var(--color-link);
            }
        }
    }

    .sectionContainer {
        gap: var(--spacing-gigantic);
    }

    .individual {
        .content {
            display: flex;
            justify-content: space-between;
            gap: var(--spacing-large);

            .cards {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: var(--spacing-large);

                .card {
                    max-width: 60rem;
                }
            }

            @media screen and (max-width: 720px) {
                flex-direction: column;

                .imageContainer {
                    flex-basis: unset;
                    order: 1;
                }

                .cards {
                    order: 2;
                }
            }
        }
    }

    .group {
        .content {
            display: flex;
            justify-content: space-between;
            gap: var(--spacing-large);

            .cards {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: var(--spacing-large);

                .card {
                    background-color: #fff;
                    max-width: 60rem;
                }
            }

            @media screen and (max-width: 720px) {
                flex-direction: column;

                .imageContainer {
                    flex-basis: unset;
                    order: 1;
                }

                .cards {
                    order: 2;
                }
            }
        }
    }

    .organizational {
        .content {
            display: flex;
            align-items: center;
            gap: var(--spacing-large);

            @media screen and (max-width: 720px) {
                flex-wrap: wrap;

                .imageContainer {
                    flex-basis: 100%;
                }
            }
        }
    }

    .donate {
        .content {
            display: flex;
            align-items: center;
            gap: var(--spacing-large);

            .donateCardDescription {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-ultra-small);
            }

            @media screen and (max-width: 720px) {
                flex-wrap: wrap;

                .imageContainer {
                    flex-basis: 100%;
                    order: 1;
                }

                .card {
                    order: 2;
                }
            }
        }
    }
}
