:root {
    --multiplier: 1.2599; /* Major third scale */

    --font-size-base: 1.2rem;
    --spacing-base: 1.125rem;

    --color-text: #474747;
    --color-link: #0060C9;
    --color-heading: #000000;
    --color-heading-on-dark: #ffffff;
    --color-text-on-dark: rgba(255, 255, 255, 0.96);
    --color-brand: #0F193F;
    --color-text-brand: var(--color-brand);
    --color-accent: rgba(170, 190, 93, 1);
    --color-accent-light: rgba(170, 190, 93, 0.48);
    --color-complement: #fff6ef;
    --color-brand-dark: #020e3b;
    --color-foreground: #ffffff;

    --color-finished: #AABE5D;
    --color-active: #f59143;
    --color-border-light: #d0d0d0;
    --color-border: #000;
    --color-background-bar: #60667d;
    --color-background: var(--color-brand);
    --color-background-brand-light: #f6f8ff;
    --color-background-accent-light: #f5f5f5;

    /* NOTE: this is background tile color of leaflet */
    --color-background-leaflet: #d4dadc;

    --color-separator: rgba(0, 0, 0, 0.1);

    --width-page-max: 86rem;
    --width-heading-max: 50rem;
    --width-separator-thin: 1pt;

    --font-weight-light: 300;
    --font-weight-medium: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 600;

    --border-radius-small: 0.2rem;
    --border-radius-medium: 0.5rem;
    --border-radius-large: 1rem;

    --box-shadow-medium: 0 2pt 10pt -4pt rgba(0, 0, 0, 0.3);

    /* Font size */
    --font-size-super-small: calc(var(--font-size-base) / (var(--multiplier) * var(--multiplier) * var(--multiplier)));
    --font-size-extra-small: calc(var(--font-size-base) / (var(--multiplier) * var(--multiplier)));
    --font-size-small: calc(var(--font-size-base) / var(--multiplier));
    --font-size-medium: var(--font-size-base);
    --font-size-large: calc(var(--font-size-base) * var(--multiplier));
    --font-size-extra-large: calc(var(--font-size-base) * var(--multiplier) * var(--multiplier));
    --font-size-super-large: calc(var(--font-size-base) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --font-size-mega-large: calc(var(--font-size-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --font-size-gigantic: calc(var(--font-size-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));

    /* Spacing */
    --spacing-tiny: calc(var(--spacing-base) / (var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier)));
    --spacing-ultra-small: calc(var(--spacing-base) / (var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier)));
    --spacing-super-small: calc(var(--spacing-base) / (var(--multiplier) * var(--multiplier) * var(--multiplier)));
    --spacing-extra-small: calc(var(--spacing-base) / (var(--multiplier) * var(--multiplier)));
    --spacing-small: calc(var(--spacing-base) / var(--multiplier));
    --spacing-medium: var(--spacing-base);
    --spacing-large: calc(var(--spacing-base) * var(--multiplier));
    --spacing-extra-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier));
    --spacing-super-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --spacing-mega-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --spacing-gigantic: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --spacing-enourmous: calc(var(--spacing-gigantic) * var(--multiplier));

    --width-scrollbar: 1rem;
    --radius-scrollbar-border: 0.25rem;
    --color-foreground-scrollbar: #cccccc;
}
