:root {
    --multiplier: 1.2599; /* Major third scale */

    --font-size-base: 1rem;
    --spacing-base: 1.125rem;

    --color-text: #474747;
    --color-heading: #000000;
    --color-heading-on-dark: #ffffff;
    --color-text-on-dark: rgba(255, 255, 255, 0.8);
    --color-brand: #0F193F;
    --color-accent: rgba(170, 190, 93, 1);
    --color-accent-light: rgba(170, 190, 93, 0.48);
    --color-brand-dark: #020e3b;
    --color-foreground: #ffffff;

    --color-background: var(--color-brand);
    --color-background-brand-light: #f6f8ff;
    --color-background-accent-light: #f5f5f5;

    --color-separator: rgba(0, 0, 0, 0.05);

    --width-page-max: 90rem;
    --width-heading-max: 40rem;
    --width-separator-thin: 1pt;

    --font-weight-light: 300;
    --font-weight-medium: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 600;

    --border-radius-small: 0.2rem;
    --border-radius-medium: 0.5rem;
    --border-radius-large: 1rem;

    --box-shadow-medium: 0px 2px 8px rgba(15, 25, 63, 0.06);

    /* Font size */
    --font-size-super-small: calc(var(--font-size-base) / (var(--multiplier) * var(--multiplier) * var(--multiplier)));
    --font-size-extra-small: calc(var(--font-size-base) / (var(--multiplier) * var(--multiplier)));
    --font-size-small: calc(var(--font-size-base) / var(--multiplier));
    --font-size-medium: var(--font-size-base);
    --font-size-large: calc(var(--font-size-base) * var(--multiplier));
    --font-size-extra-large: calc(var(--font-size-base) * var(--multiplier) * var(--multiplier));
    --font-size-super-large: calc(var(--font-size-base) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --font-size-mega-large: calc(var(--font-size-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --font-size-gigantic: calc(var(--font-size-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));

    /* Spacing */
    --spacing-super-small: calc(var(--spacing-base) / (var(--multiplier) * var(--multiplier) * var(--multiplier)));
    --spacing-extra-small: calc(var(--spacing-base) / (var(--multiplier) * var(--multiplier)));
    --spacing-small: calc(var(--spacing-base) / var(--multiplier));
    --spacing-medium: var(--spacing-base);
    --spacing-large: calc(var(--spacing-base) * var(--multiplier));
    --spacing-extra-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier));
    --spacing-super-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --spacing-mega-large: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));
    --spacing-gigantic: calc(var(--spacing-base) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier) * var(--multiplier));
}
