.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: 0.5rem;
    box-shadow: 0 2pt 10pt -4pt rgba(0, 0, 0, 0.3);
    background-color: var(--color-foreground);
    padding: var(--spacing-large);

    .header {
        display: flex;
        flex-shrink: 0;

        .heading {
            flex-grow: 1;
        }
    }

    .childrenContainer {
        flex-grow: 1;
    }

    .footer {
        display: flex;
        flex-shrink: 0;

        .footerContent {
            flex-grow: 1;
        }
    }
}
