.card {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--color-accent-light);
    border-radius: var(--border-radius-medium);
    padding: var(--spacing-extra-large) var(--spacing-large);
    text-align: center;
    gap: var(--spacing-medium);
}
