.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--border-radius-medium);
    padding: var(--spacing-extra-large) var(--spacing-large);
    text-align: center;
    gap: var(--spacing-large);

    .heading {
        max-width: 32rem;
        text-align: center;
        color: var(--color-text-brand);
        font-family: var(--font-family-dm-sans), sans-serif;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }

    .description {
        max-width: 32rem;
        text-align: center;
    }

    .actions {
        margin: var(--spacing-large) 0;
    }
}
