.htmlOutput {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

    h1, h2, h3, h4, h5, h6 {
        max-width: 60rem;
        color: var(--color-heading)!important;
        font-weight: var(--font-weight-bold);
    }

    h1 {
        font-size: var(--font-size-super-large);
    }

    h2 {
        font-size: var(--font-size-extra-large);
    }

    h3 {
        font-size: var(--font-size-large);
    }

    h4 {
        font-size: var(--font-size-medium);
    }

    h5 {
        font-size: var(--font-size-small);
    }

    h6 {
        font-size: var(--font-size-extra-small);
    }

    p {
        max-width: 60rem;
        color: var(--color-text);
        font-size: var(--font-size-medium);
    }

    a {
        max-width: 60rem;
        color: var(--color-link);
        font-size: var(--font-size-medium);

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        max-width: 100%;
        object-fit: contain;
    }
}
