.input {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super-small);

    .optionsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-extra-small);

        .option {
            display: flex;
            align-items: center;
            border: transparent solid var(--width-separator-thin);
            border-radius: var(--border-radius-medium);
            background-color: var(--color-background-accent-light);
            padding: var(--spacing-super-small) var(--spacing-extra-small);
            color: var(--color-text);
            gap: var(--spacing-super-small);
            font-size: var(--font-size-small);

            &.selected {
                border-color: var(--color-brand);
            }
        }
    }
}
