.icon {

    --height: 1.5rem;
    display: block;

    width: var(--height);
    height: var(--height);

    &.small {
        --height: 1.2rem;
    }

    &.medium {
        --height: 1.5rem;
    }

    &.large {
        --height: 1.8rem;
    }
}
