name: CI

on:
  pull_request:
  push:
    branches:
      - 'develop'

env:
  GITHUB_WORKFLOW: true

jobs:
  ci:
    name: Lint + Type Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          cache: 'yarn'

      # Pre-commit
      - uses: actions/setup-python@v5
      - name: Install pre-commit
        run: pip install pre-commit

      - name: Install dependencies
        run: yarn install --prefer-online

      - name: Check
        run: pre-commit run -vvv --all-files

      # FIXME: Check build after creating fixtures
